@model IEnumerable<MarketPlace.Models.Market>
    @{
    ViewBag.Title = "Home Page";
    }

<ul>
    @foreach (var market in Model)
    {
        <li>@market.MarketName - @market.DateTime - @market.Organiser.Name</li>
    }
</ul>
